.MiniCard{
    width: 175px;
    height: 225px;
    margin: 1rem;
    background-color: #efeff2;
    border: 1px solid #e3e3e3;
    padding: 1rem;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    border-radius: 0 10px 10px 10px;
    color:rgb(82, 73, 80);
    transition: background-color, box-shadow 0.5s ease;
    /* transition: border-bottom 0.5s ease; */
}

.MiniCard:hover{
    /* border-bottom: 5px solid #ED8971; */
    background-color: #f3f3f5;
    box-shadow: 5px 5px 8px -5px rgba(201, 190, 190, 0.817);
}

.MiniCard-Title{
    margin: 1rem 0;
}

.MiniCard-Type{
    margin: 1rem 0;
}

.MiniCard-Status{
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: inherit;
}