.NavItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  width: 100%;
}

.byStatus,
.byType {
  list-style: none;
  background-color: rgba(245, 182, 187, 0.872);
  color: rgb(82, 73, 80);
  margin: 0.25rem;
  outline: none;
  border: none;
  text-align: center;
}

.byStatus > li,
.byType > li {
  margin: 0.25rem;
}

.byStatus > div,
.byType > div {
  color: white;
  background-color: rgba(245, 166, 173, 0.872);
  border-radius: 0;
}

.byStatus > li:hover,
.byType > li:hover {
  background-color: rgba(245, 129, 137, 0.872);
  border-radius: 0;
}

@media (min-width: 500px) {
  /* .NavItems{
        flex-flow: row;
    } */
}
