.NavItem{
    margin: 10px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    transition: background-color 1s ease;
    color: rgb(84, 72, 69);
    font-family: 'Work Sans', sans-serif;
    font-size: 13pt;
}

/* .NavItem a {

} */

/* .NavItem a:hover,
.NavItem a:active,
.NavItem a.active{

} */

@media (min-width: 500px){
    .NavItem {
        margin: 0px;
        padding: 10px;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }

    /* NavItem a {

    } */

    /* will probably need to add a to these??? or maybe not since they might open a drop down! */
    .NavItem:hover,
    .NavItem:active,
    .NavItem a.active {
        background-color: rgba(237, 138, 113, 0.774);
        cursor: pointer;
    }
}