.DetailCard{
    width: 80%;
    height: 80%;
    margin: 1rem;
    padding: 2rem;
    background-color: #f3f3f5;
    border: 1px solid #e3e3e3;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    border-radius: 0 10px 10px 10px;
    color:rgb(82, 73, 80);
}


.DetailCardTitle{
    margin: 1rem;
}

.DetailCardType{
    margin: 1rem;
    display: inline;
}

.DetailCardStatus{
    margin: 1rem;
}

.DetailCardNotes{
    margin: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

.DateHolder {
    margin: 1rem;
    display: flex;
    justify-content: center;
}

.CardBtnContainer {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    width: auto;
    color: rgb(144, 168, 210);
}