*{
    font-family: 'Work Sans', sans-serif;
    outline:none;
    border-radius: 3px;
    padding: 0.25rem 0.5rem;
}

*:hover{
    cursor: pointer;
}

.MiniCardBtn{
    background-color: rgb(246, 246, 250);
    color: rgb(245, 129, 141);
    font-size: 12pt;
    border: 1px solid rgb(245, 129, 141);
}

.MiniCardBtn:hover{
    background-color: rgb(245, 129, 141);
    color: rgb(246, 246, 250);
}

.UpdateBtn{
    background-color: rgb(246, 246, 250);
    color: rgb(107, 213, 179);
    font-size: 12pt;
    border: 1px solid rgb(107, 213, 179);
    margin: 1rem;
}

.UpdateBtn:hover{
    background-color: rgb(107, 213, 179);
    color: rgb(246, 246, 250);
}

.DeleteBtn{
    background-color: rgb(246, 246, 250);
    color: rgb(250, 81, 81);
    font-size: 12pt;
    border: 1px solid rgb(250, 81, 81);
    margin: 1rem;
}

.DeleteBtn:hover{
    background-color: rgb(250, 81, 81);
    color: rgb(246, 246, 250);
}

.Submit{
    background-color: rgb(246, 246, 250);
    color: rgb(90, 128, 210);
    font-size: 12pt;
    border: 1px solid rgb(90, 128, 210);
    margin: 1rem;
}

.Submit:hover{
    background-color: rgb(90, 128, 210);
    color: rgb(246, 246, 250);
}

.AuthButton{
    background-color: rgb(246, 246, 250);
    color: rgb(242, 150, 111);
    font-size: 12pt;
    border: 1px solid rgb(242, 150, 111);
    margin: 1rem;
}

.AuthButton:hover{
    background-color: rgb(242, 150, 111);
    color: rgb(246, 246, 250);
}

.SwitchAuth{
    background-color: rgb(246, 246, 250);
    color: rgb(242, 150, 111);
    font-size: 12pt;
    border: 1px solid rgb(242, 150, 111);
    margin-bottom: 1rem;
}

.SwitchAuth:hover{
    background-color: rgb(242, 150, 111);
    color: rgb(246, 246, 250);
}

.GeneralButton{
    background-color: rgb(246, 246, 250);
    color: rgb(111, 203, 242);
    font-size: 12pt;
    border: 1px solid rgb(111, 203, 242);
    margin-bottom: 1rem;
}

.GeneralButton:hover{
    background-color: rgb(111, 203, 242);
    color: rgb(246, 246, 250);
}

*:disabled{
    background-color: rgb(247,245,250);
    border: 1px solid lightgray;
    color: lightgray;
    cursor: not-allowed;
}
