* {
    font-family: 'Work Sans', sans-serif;
    font-size: 12pt;
}

input{
    border: 1px solid lightgray;
    outline: none;
    height: 1.5rem;
    width: 20rem;
    border-radius: 20px;
}

textarea{
    border: 1px solid lightgray;
    outline: none;
    width: 20rem;
    height: 10rem;
    border-radius: 5px;
}

select{
    border: 1px solid lightgray;
    outline: none;
    width: 10rem;
    height: 2rem;
    padding: 2rem;
}

/* .Select-New-Type{
    display: none;
}

.Select-Color{
    display:none;
} */

.Invalid {
    border: 1px solid red;
}